NODE_ENV=development
PORT=4000
DATABASE_URL=postgresql://consync:consync@localhost:5432/consync
AUTH0_DOMAIN=
AUTH0_AUDIENCE=
AUTH0_ISSUER_BASE_URL=
CORS_ORIGIN=http://localhost:3000
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
